<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Name: {{fork.createForkName}}</h1>
<p>Message: {{fork.createForkMessage}}</p>
<p>Type: {{fork.createForkType}}</p>
<a href="/forks">go back to create</a>
</body>
</html>
